button {
    padding: 10px 20px;
    background-color: #075cfa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #48a045;
  }
  
  #canvasContainer {
    position: relative;
    overflow: hidden;
  }
  
  #canvas {
    width: 800px;
    height: 600px;
    border: 1px solid black;
  }
  
  #cursorPreview {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    pointer-events: none;
  }